<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>Projet node JS</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body >
        
    <div>HOME</div>

    <form action="/logout">
    <p class="logout button"> 
        <input type="submit" value="Logout "> 
    </p>
    </form>

     </body>
</html>